<div class="team-info">
  <a class="team-name" href="{{team.url}}">
    {{#if team.ranking}}
      #{{team.ranking}}
    {{/if}}
    {{team.name}}
  </a>
  <div class="team-record">{{team.record}}</div>
</div>
<div class="team-score">{{team.score}}</div>
